.mobile {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex-grow: 1;
  max-height: fit-content;
  margin: 5%;
  align-self: center;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.tablet {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex-grow: 1;
  min-height: fit-content;
  margin: 5%;
  align-self: center;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.laptop {
  position: flex;
  display: flex;
  flex-direction: column;
  width: 402px;
  flex-grow: 1;
  min-height: fit-content;
  margin: 5%;
  align-self: center;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.desktop {
  position: flex;
  display: flex;
  flex-direction: column;
  width: 402px;
  flex-grow: 1;
  min-height: fit-content;
  margin: 5%;
  align-self: center;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.heading {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  margin: 5% auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.035em;
  /* Gray 2 */
  color: #4f4f4f;
}

.subHeading {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  margin: 5% auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;
  /* Gray 3 */
  color: #828282;
}

.dragBody {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 5%;
  min-height: 220px;
  max-height: max-content;
  width: auto;
  background: #f6f8fb;
  border: 1px dashed #97bef4;
  border-radius: 12px;
}

.textName {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: auto;
  height: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.035em;
  /* Gray 4 */
  color: #bdbdbd;
}

.button {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: max-content;
  height: auto;
  /* Blue 1 */
  background: #2f80ed;
  border-radius: 8px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.035em;
  color: #ffffff;
}

.dragText {
  position: sticky;
  width: auto;
  height: fit-content;
  margin: auto;
  margin-top: 100%;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: -0.035em;
  /* Gray 4 */
  color: #bdbdbd;
}

.clipboard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5% auto;
  width: fit-content;
  height: auto;
  background: #f6f8fb;
  /* Gray 5 */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

div {
  display: flexbox;
}
